@model IEnumerable<DoAnCoSo.Models.ShoppingCartTableItem>
@using DoAnCoSo.Common
<table class="table">
    <tr class="text-center">
        <th>STT</th>
        <th>Ảnh bàn</th>
        <th>Tên bàn/không gian</th>
        <th>Sảnh</th>
@*        <th style="width:100px;">Số lượng</th>
*@        <th style="width:200px;">Chức năng
        </th>
    </tr>
    @if (Model != null && Model.Any())
    {
        var i = 0;
        var tongsoluong = 0;
        foreach (var item in Model)
        {
            tongsoluong += item.Quantity;
                <tr class="text-center" id="trow_@item.TableId">
                    <td>@(i+1)</td>
                    <td><img src="@item.TableImg" width="60" /></td>
                    <td>
                        <a href="/chi-tiet/@item.Alias-@(item.TableId)">
                            @item.TableName
                        </a>
                    </td>
                    <td>@item.SpaceName</td>

@*                    <td><input type="number" class="form-control" id="Quantity_@item.TableId" value="@item.Quantity" /></td>
*@
                    <td>
                        <a href="#" data-id="@item.TableId" class="btn btn-sm btn-danger btnDeleteTable">Xóa</a>
@*                        <a href="#" data-id="@item.TableId" class="btn btn-sm btn-success btnUpdateTable">Cập nhật</a>
*@                    </td>
                </tr>
                i++;
                }
           @*     <tr>
                    <th colspan="4" class="text-right">Tổng: </th>
                    <td class="text-center">@Common.FormatNumber(tongsoluong, 0)</td>
                    <td></td>
                </tr>   *@
    }
    else
    {
        <tr>
            <th colspan="7">Không có <a href="/danh-muc-ban/sanh-tiec-hoi-nghi-1"> bàn</a> được lựa chọn!</th>
        </tr>
    }
</table>
