@model IEnumerable<DoAnCoSo.Models.EF.Product>
@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        var strImage = "";
        var img = item.ProductImage.FirstOrDefault(x => x.isdefault);
        if (img != null)
        {
            strImage = img.image;
        }
        <div class="product-item @item.ProductCategory.alias" style="left: 232px; top: 114px;">
            <div class="product discount product_filter">
                <div class="product_image">
                   
                        <img src="@strImage" alt="@item.title">
                   
                    </div>
                    <div class="favorite favorite_left"></div>
                    @if (item.pricesale > 0)
                    {
                        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>Sale</span></div>

                    }
                    <div class="product_info">
                        <h6 class="product_name" style="font-size: x-large; font-family: 'Dancing Script' , cursive;"><a href="/chi-tiet/@item.alias-@(item.id)">@item.title</a></h6>
                        @if (item.pricesale > 0)
                        {
                            <div class="product_price" style="font-size:16px;" >@DoAnCoSo.Common.Common.FormatNumber(item.pricesale, 0) đ<span>@DoAnCoSo.Common.Common.FormatNumber(item.price, 0) đ</span></div>
                        }
                        else
                        {
                            <div class="product_price" style="font-size:16px;">@DoAnCoSo.Common.Common.FormatNumber(item.price, 0) đ</div>

                        }
                        <h6>@item.description</h6>
                    </div>
                </div>
            <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@item.id">add to cart</a></div>
        </div>
    }
}
