@model DoAnCoSo.Models.EF.Order
@using PagedList;
@{
    ViewBag.Title = "Chi tiết đơn hàng";
}
@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Chi tiết đơn hàng</a>
        </li>
    </ul>
}

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        
@*            //<img src="~/Uploads/images/icon/eb9682d45911884fd100.jpg" style="height: 105px; padding-left:185px;"/>
*@            <div class="card-tools" >
                <h5 style="text-align:center">NHÀ HÀNG VIETKITCHEN</h5>
                <h5 style="text-align:center">720A Đ. Điện Biên Phủ, Bình Thạnh, Thành phố Hồ Chí Minh</h5>
                <h5 style="text-align:center">0946 786 967 -  0941 453 987</h5>
                <h1 style="text-align:center">HÓA ĐƠN THANH TOÁN</h1>
        <hr />
            @*<h3 class="card-title">Chi tiết hóa đơn</h3>*@
        </div>
        <div class="card-body">
            <div class="invoice-header">

                <p>Mã hóa đơn: @Model.code </p>
                <p>Khách hàng: @Model.customername </p>
                <p>Thời gian:  @DateTime.Now </p>
            </div>
            <div class="row">

                <div class="col-12">
                    @Html.Action("Partial_SanPham", "Invoice", new { id = Model.id })
                </div>
            </div>
            @if (Model.ship > 0)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" style="margin-left: 818px;">
                            <label><th>Phí ship:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @DoAnCoSo.Common.Common.FormatNumber(Model.ship, 0) đ</th></label>
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" style="margin-left: 808px;">
                        <label><th>Tổng tiền:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @DoAnCoSo.Common.Common.FormatNumber(Model.total + Model.ship, 0) đ</th></label>

                    </div>
                </div>
            </div>
            <hr />
            <h5 style="text-align:center">Trân trọng cảm ơn!</h5>
            <button onclick="printInvoice()" style=" height: 50px;opacity:0;">In hóa đơn</button>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
<script>
    function printInvoice() {
        // Lấy phần tử chứa nội dung hóa đơn
        var invoiceElement = document.querySelector('.invoice');
        // Thay thế bằng đường dẫn đúng
        // Chuyển hướng đến trang in

        // Áp dụng CSS stylesheet cho trang in
        var stylesheets = document.querySelectorAll('style');
        stylesheets.forEach(function (stylesheet) {
            document.head.appendChild(stylesheet.cloneNode(true));
        });

        // In trang
        window.print();

        // Xóa CSS stylesheet sau khi in
        stylesheets.forEach(function (stylesheet) {
            document.head.removeChild(stylesheet);
        });
    }
</script>