@model IEnumerable<DoAnCoSo.Models.EF.OrderDetail>
@if (Model != null && Model.Any())
{
    int i = 1;
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên sản phẩm</th>
                @*                <th>Bàn</th>
                *@
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Product != null)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.Product.title</td>
                        <td>@DoAnCoSo.Common.Common.FormatNumber(item.price, 0) đ</td>
                        <td>@item.quantity</td>
                        <td>@DoAnCoSo.Common.Common.FormatNumber((item.price * item.quantity), 0) đ</td>
                    </tr>
                    i++;
                }

            }

        </tbody>
    </table>
    int a = 1;
   
<table class="table table-bordered">
    <h3>Danh sách bàn</h3>
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên bàn</th>
            <th>Không gian</th>
        </tr>

    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            if (item.Table != null)
            {
                <tr>
                    <td>@a</td>
                    <td>@item.Table.title</td>
                    <td>@item.Table.Space.title</td>
                </tr>
                a++;
            }

        }
    </tbody>
</table>
}
